<div class="card">
    <div class="card-body">
        <form action="/admin/criarpedido" method="post" id="formulario">

            <input type="hidden" name="nome" value="{{user.nome}}">
            <div>
                {{#each pedidos}}
                    <input type="hidden" id="contador" value="{{preco}}"></p>
                {{else}}
                {{/each}}
            </div>
            <div style="display: flex;">
                <label for="produto" style="margin-top: 5px">Produto: </label>
                <select name="produto" class="form-select" style="width: 200px;  margin-left: 10px;">
                    {{#each produtos}}
                        <option value="{{_id}}">{{nome}}</option>
                    {{else}}
                        <option value="0">Nenhuma categoria registrada</option>
                    {{/each}}
                </select>


                <label for="quantidade" style="margin-left: 50px; margin-top: 5px">Quantidade: </label>
                <input type="number" name="quantidade" class="form-control"  style="width: 200px; margin-left: 10px; width: 80px">
                <button type="button" onclick="adicionarCampo()" class="btn btn-success" style="margin-left: 50px;">Adicionar</button>
                <br>
            </div>

            <div id="novos">

            </div>

            <hr>
            <label for="descricao">Descriçao: </label>
            <textarea name="descricao" placeholder="Opcional" class="form-control"></textarea>
            <br>

            <button type="button" onclick="adicionarCampo()" class="btn btn-success" style="margin-left: 86%;">Adicionar</button>
            <button type="submit" onclick="lercount()" class="btn btn-success" style="margin-left: 5px;">Criar</button>
        </form>
    </div>
</div>





<script>
    let x = 1
    function excluirhtml(query) {
        var el = document.querySelector(query)

        if (!el)
            return

        el.parentElement.removeChild(el)
        x--
}



    function adicionarCampo() {
        if(x < 9){
            document.getElementById('novos').insertAdjacentHTML('beforeend', `<hr><div id="adicionado${x}" style="display: flex;"><label for="produto${x}" style="margin-top: 5px">Produto: </label><select name="produto${x}" class="form-select" style="width: 200px; margin-left: 10px;">{{#each produtos}}<option value="{{_id}}">{{nome}}</option>{{else}}<option value="0">Nenhuma categoria registrada</option>{{/each}}</select><br><label for="quantidade${x}" style="margin-left: 50px; margin-top: 5px">Quantidade: </label><input type="number" name="quantidade${x}" class="form-control" style="width: 200px; margin-left: 10px; width: 80px"><br><button type="button" class="btn btn-success" onclick="adicionarCampo()" style="margin-left: 50px">Adicionar</button><button type="button" style="margin-left: 10px" class="btn btn-danger" onclick="excluirhtml('#adicionado${x}')" style="margin-left: 50px">Excluir</button></div>`)
        x++
        }
        }
    
    
    
    
</script>