{{#each pedidos}}


{{#if etapa}}

{{#if finalizado}}
{{else}}
<table class="table table-bordered" style="border-color: rgba(0, 0, 0, 0.767);">
    <thead>
        <tr>
            <th scope="col">Loja</th>
            <th scope="col">Produto</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Valor</th>
        </tr>
    </thead>
    <tr>
        <td>{{loja}}</td>
        <td>{{item.nome}}</td>
        <td>{{quantidade}}</td>
        <td>R${{preco}},00</td>
    </tr>
    {{#if item1.nome}}
    <tr>
        <td>{{loja1}}</td>
        <td>{{item1.nome}}</td>
        <td>{{quantidade1}}</td>
        <td>R${{preco1}},00</td>
    </tr>
    {{else}}
    {{/if}}
    {{#if item2.nome}}
    <tr>
        <td>{{loja2}}</td>
        <td>{{item2.nome}}</td>
        <td>{{quantidade2}}</td>
        <td>R${{preco2}},00</td>
    </tr>
    {{else}}
    {{/if}}
    {{#if item3.nome}}
    <tr>
        <td>{{loja3}}</td>
        <td>{{item3.nome}}</td>
        <td>{{quantidade3}}</td>
        <td>R${{preco3}},00</td>
    </tr>
    {{else}}
    {{/if}}
    {{#if item4.nome}}
    <tr>
        <td>{{loja4}}</td>
        <td>{{item4.nome}}</td>
        <td>{{quantidade4}}</td>
        <td>R${{preco4}},00</td>
    </tr>
    {{else}}
    {{/if}}
    {{#if item5.nome}}
    <tr>
        <td>{{loja5}}</td>
        <td>{{item5.nome}}</td>
        <td>{{quantidade5}}</td>
        <td>R${{preco5}},00</td>
    </tr>
    {{else}}
    {{/if}}
    {{#if item6.nome}}
    <tr>
        <td>{{loja6}}</td>
        <td>{{item6.nome}}</td>
        <td>{{quantidade6}}</td>
        <td>R${{preco6}},00</td>
    </tr>
    {{else}}
    {{/if}}
    {{#if item7.nome}}
    <tr>
        <td>{{loja7}}</td>
        <td>{{item7.nome}}</td>
        <td>{{quantidade7}}</td>
        <td>R${{preco7}},00</td>
    </tr>
    {{else}}
    {{/if}}
    {{#if item8.nome}}
    <tr>
        <td>{{loja8}}</td>
        <td>{{item8.nome}}</td>
        <td>{{quantidade8}}</td>
        <td>R${{preco8}},00</td>
    </tr>
    {{else}}
    {{/if}}
    <tr>
        <th scope="row">Total: {{total}}</th>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>
<br>
{{/if}}

{{else}}

{{/if}}

{{else}}
{{/each}}